@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer curverdMenu {
  /* curved awwards menu */
  .button-curverd {
    @apply fixed right-0 m-5 z-[2] w-20 h-20 rounded-[50%] bg-[#455CE9] cursor-pointer flex items-center justify-center;
  }

  .burger-awwards {
    width: 100%;
    position: relative;
  }

  .burger-awwards::after,
  .burger-awwards::before {
    content: '';
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  .burger-awwards::after {
    top: -5px;
  }

  .burger-awwards::before {
    top: 5px;
  }

  .burger-awwards.active::after {
    transform: rotate(45deg);
    top: -1px;
  }

  .burger-awwards.active::before {
    transform: rotate(-45deg);
    top: 0px;
  }

  /* nav */
  .curverd-menu {
    @apply fixed top-0 right-0 h-screen text-white bg-pink-600;
  }

  .curverd-menu .body {
    @apply box-border h-full p-[100px] flex flex-col justify-between w-screen sm:w-auto;
  }

  .curverd-menu .body .nav {
    @apply flex flex-col font-[56px] gap-3 mt-20;
  }

  .curverd-menu .body .nav .header {
    @apply border-b-2 border-b-pink-600 uppercase font-[11px] mb-10;
  }

  .curverd-menu .body .nav .header a {
    @apply text-white;
  }

  .curverd-menu .body .nav .curverd-link {
    @apply relative flex items-center;
  }

  .curverd-menu .body .nav .curverd-link .indicator {
    @apply w-3 h-3 bg-white rounded-[50%] absolute -left-[30px];
  }

  .curverd-menu .body .footer {
    @apply flex w-full justify-between font-[12px] gap-10;
  }

  .animation-curve {
    @apply absolute top-0 -left-[99px] w-[100px] h-full fill-pink-600/80 stroke-none;
  }
}
